.navigation {
  &__backdrop {
    position: fixed;
    inset: 0;
    background-color: rgb(0 0 0/0);
    pointer-events: none;
    will-change: backdrop-filter;
    transition: background-color 0.15s ease-in-out, backdrop-filter 0.15s ease-in-out;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    &--open {
      background-color: rgb(0 0 0/0.15);
      backdrop-filter: blur(3px);
    }
  }
}

button {
  display: inline;
  background: transparent;
  position: relative;
  z-index: 99;
  border: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  background: #fff;
}

nav {
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.menu {
  display: flex;
  gap: 20px;
  padding: 0 10px;
  box-shadow: 0 0 10px rgb(0 0 0 /0.2);

  > li {
    a,
    button {
      display: block;
      padding: 10px;

      &:hover {
        background: #eee;
      }
    }
  }

  li {
    position: relative;

    &.subnav-container button {
      display: flex;
      gap: 0.5em;
    }

    &.subnav-container button::after {
      content: ' \21E3';
      transition: scale 0.15s ease-in-out;

      @media (prefers-reduced-motion: no-motion) {
        transition: none;
      }
    }

    &.subnav-container button[aria-expanded='true']::after {
      scale: 1 -1;
    }
  }
}

.subnav {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  transform-origin: top center;
  border-radius: 0 0 0.25rem 0.25rem;
  overflow: hidden;
  transition: opacity 0.15s ease-in-out, translate 0.15s ease-in-out;

  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }

  &.subnav--closed {
    opacity: 0;
    translate: 0 -20px;
    pointer-events: none;
  }

  li {
    display: block;

    a {
      min-width: max-content;
      display: block;
      padding: 15px 15px 15px 10px;
      transition: background-color 0.15s ease-in-out;

      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.menu {
  &__hamburger {
    position: fixed;
    right: 1rem;
    top: 1rem;
    color: #000;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.25rem;
    aspect-ratio: 1;
    line-height: 0;

    &:hover {
      background-color: #eee;
    }
  }

  &.menu--mobile {
    position: fixed;
    inset: 4rem -100% auto auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    box-shadow: none;
    transition: inset 0.15s ease-in-out;
    text-align: right;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    > li > a,
    > li > button {
      padding: 1rem 3rem 1rem 1rem;
    }

    > li > ul a {
      padding: 1rem 2rem 1rem 1rem;
    }

    > li {
      button {
        flex-direction: row-reverse;

        &::after {
          content: ' \21E3';
          rotate: 90deg;
          transition: scale 0.15s ease-in-out;

          @media (prefers-reduced-motion: reduce) {
            transition: none;
          }
        }

        &[aria-expanded='true'] {
          background-color: #eee;

          &::after {
            scale: -1;
          }
        }
      }
    }

    &::before {
      content: '';
      inset: 0;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 0 10px rgb(0 0 0 /0.2);
    }

    > li .subnav {
      z-index: -1;
      top: 0;
      right: 100%;
      scale: 1;
      transform-origin: top right;
      box-shadow: 0 0 10px rgb(0 0 0 /0.2);
      gap: 8px;

      &--closed {
        opacity: 0;
        translate: 20px 0;
        pointer-events: none;
      }
    }
  }

  &.menu--mobile.menu--open {
    inset: 4rem 0 auto auto;
  }
}
