*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

main {
  background-image: url(https://images.unsplash.com/photo-1603190287605-e6ade32fa852);
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  flex: 1;
  padding: 4rem 2rem;

  @media (width < 800px) {
    padding: 1rem 4rem 0.5rem 1rem;
  }
}

section {
  background: #fff;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
  padding: 3rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgb(0 0 0 /0.2);

  @media (width < 800px) {
    padding: 1.5rem 2rem;
  }

  h1 {
    font-family: serif;
    font-size: 2.5rem;
    margin-bottom: 2rem;

    @media (width < 800px) {
      margin-bottom: 1rem;
    }
  }

  p {
    line-height: 1.6;

    & + p {
      margin-top: 2rem;

      @media (width < 800px) {
        margin-top: 1rem;
      }
    }
  }
}

a,
button {
  text-decoration: none;
  color: #000;
  line-height: 1;

  &:focus-visible {
    outline: 2px solid currentColor;
    outline-offset: -2px;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
}
